*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html{
background-color: #D3DEDC;
  }
  .contact div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .contact .icon-container .icons i{
    height: 50px;
    width: 50px;
    background-color: black;
    color: white;
    border-radius: 50%;
    line-height: 50px;
    
    }
    .contact .icons-container .icons {
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    }
    
    .contact .icons-container .icons p {
    color: #666;
    font-size: 1rem;
    line-height: 1;
    }
     .contact .icons-container div{
       display: inline-block;
       justify-content: space-evenly;
       width: 20vw;
     }
    
footer{background-color: black;
color: #f1f1f1;
text-align: center;
font-size: larger;
width: 100%;
padding-top: 50px;
padding-bottom: 50px;
}

.fa:hover {
opacity: 0.7;
}

.fa-facebook {
background: black;
color: lightgrey;
}

.fa-twitter {
background:black;
color: lightgrey;
      }

.fa-linkedin {
background: black;
color: lightgrey;
}

.fa-instagram {
background: black;
color: lightgrey;
}

.heading{
text-align: center;
text-transform: uppercase;
         
}

.icon-container div{
  display: inline;
}


input[type=text], input[type=email],input[type=number], input[type=submit]{
height: 2vw;}

.logo{
  width: 200px;
  cursor: pointer;
  margin: 30px 0;
}

.menu-icon{
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: none;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}

nav{
  flex: 1;
  text-align: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  padding-right: 50px;
}

nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

nav ul li a:hover{
  color: #ff5ea2;
}

.row h3{
  text-align: center;
  text-transform: uppercase;}
  
.section2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  }

 
  @media only screen and (max-width:700px){
    nav ul {
      width: 100%;
      background: linear-gradient(#ff54a2, #ff575a);
      position: absolute;
      top: 75px;
      right: 0;
      z-index: 2;
    }
  
    nav ul li{
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    nav ul li a{
      color: #fff;
    }
  
    .menu-icon{
      display: block;
    }
  
    #menuList{
      overflow: hidden;
      transition: 0.5s;
    }
  
  }
  
  
  #home,#about,#contact,#login{
    margin-right: 40px;
  }
  
  @media only screen and (max-width:900px) {
    body{
      text-align: center;
      align-content: center;
    }
  
    .universal{
      margin: auto;
    }
  
  }
  
  