*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  html
  {
  background-color: #D3DEDC;
  }
  
 
  .header{
    width: 100%;
    margin-bottom: 60px;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
  }
  img{
    display: flex;
    height: 400px;
    width: 400px;
    border-top-left-radius:50% ;
    border-top-right-radius:50% ;
    }
    .logo{
      width: 200px;
      cursor: pointer;
      margin: 30px 0;
    }
    
    .menu-icon{
      width: 25px;
      height: 25px;
      cursor: pointer;
      display: none;
    }
    .navbar{
      width: 100%;
      display: flex;
      align-items: center;
    }
    
    nav{
      flex: 1;
      text-align: right;
    }
    
    nav ul li{
      list-style: none;
      display: inline-block;
      margin-right: 30px;
      padding-right: 50px;
    }
    
    nav ul li a{
      text-decoration: none;
      color: #000;
      font-size: 14px;
    }
    
    nav ul li a:hover{
      color: #ff5ea2;
    }

  .shopnow{
  border: 1px solid black;
  color: #E6E6FA;
  width: fit-content;
  height: max-content;
  padding: 5px 5px 5px 5px ;
  display: flex;
  }
  
  .shopnow a{
  color: black;
  text-decoration: none;
  }
  
  .shopnow a:hover{
  text-decoration: underline;
  color: black;}
  
  
  

  
  
  @media only screen and (max-width:700px){
    nav ul {
      width: 100%;
      background: linear-gradient(#ff54a2, #ff575a);
      position: absolute;
      top: 45px;
      right: 0;
      z-index: 2;
    }
  
    nav ul li{
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    nav ul li a{
      color: #fff;
    }
  
    .menu-icon{
      display: block;
    }
  
    #menuList{
      overflow: hidden;
      transition: 0.5s;
    }
  
  }
  
  
  #home,#about,#contact,#login{
    margin-right: 40px;
  }
  
  @media only screen and (max-width:900px) {
    body{
      text-align: center;
      align-content: center;
    }
  
    .universal{
      margin: auto;
    }
  
    .subsectiona{
      flex-direction: column-reverse;
    }
    .subsectionb{
      flex-direction: column;
    }
    .subsectionc{
      flex-direction: column-reverse;
    }
    .section2{
      flex-direction: column;
    }
  
    #test{
      font-size: 25px;
    }
  
  }
  
  #test{
    font-size: 50px;
    margin: auto;
  }
  

.header
{
margin-top: 50px;
}

html
{
background-color: #D3DEDC;
}

.main-name {
text-align: left;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


 
/* image designing*/
img{
display: flex;
height: 400px;
width: 400px;
border-top-left-radius:50% ;
border-top-right-radius:50% ;
}
.image{
display: flex;
position: absolute;
margin-top: 3%;
margin-left: 10px;
}
.image2{
height: 500px;
width: 450px;
border-bottom-left-radius:50% ;
border-bottom-right-radius:50% ;
border-top-left-radius:0% ;
border-top-right-radius:0% ;
display: flex;
position: absolute;
margin-top: 3%;
margin-left: 10px;
}

.image3{
border-top-right-radius: 0%;
display: flex;
height: 500px;
position: absolute;
margin-top: 3%;
margin-left: 10px;
}


.border{
border: 1px solid brown;
display: flex;
height: 400px;
width: 400px;
border-top-left-radius:50% ;
border-top-right-radius:50% ;
position: relative;

}

.border2{
border: 1px solid black;
display: flex;
height: 500px;
width: 450px;
border-bottom-left-radius:50% ;
border-bottom-right-radius:50% ;
position: relative;
}

.border3
{
border: 1px solid black;
border-top-right-radius: 0%;
display: flex;
height: 500px;
width:400px;
border-top-left-radius:50% ;
position: relative;
}

/* home pagetext*/

.textbox{
height: fit-content;
width: 400px;
display: flex;
flex-direction: column;
margin-top:auto;
}
.subsectiona{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}
.subsectionb{
display: flex;
flex-direction:row;
justify-content: space-evenly;
}
.subsectionc{
flex-direction: row;
display: flex ;
justify-content: space-evenly;
}

.textbox2{
height: fit-content;
width: 400px;
display: flex;
flex-direction: column;
margin: auto,0;
margin-top: 5vw;

}

.textbox3{
height: fit-content;
width: 400px;
display: flex;
flex-direction:column;
margin:auto,0;
margin-top: 10vw;
}

.text1{
color: black;
text-align: left;
display: flex;

}

.text2{
color: black;
text-align: left;
display: flex;
}

.text3{
color: black;
text-align: left;
display: flex;
}

.shopnow{
border: 1px solid black;
color: #E6E6FA;
width: fit-content;
height: max-content;
padding: 5px 5px 5px 5px ;
display: flex;
}

.shopnow a{
color: black;
text-decoration: none;
}

.shopnow a:hover{
text-decoration: underline;
color: black;
}
  

/*background designing*/

.background{
color: white;
font-size: 100px;
display: flex;
}


  
.smallestcircle{
background-color:whitesmoke;
border-radius: 50%;
display: flex;
height: 20px;
width: 20px;
position: absolute;
margin-left: 87vw;
}

.smallcircle{
background-color: whitesmoke;
border-radius: 50%;
display: flex;
height: 50px;
width: 50px;
position: absolute;
margin-left: 90vw;
}

/*footer*/
footer{background-color: black;
color: #f1f1f1;
text-align: center;
font-size: larger;
width: 100%;
padding: 50px 0;

}
  
.fa:hover {
opacity: 0.7;
}
  
.fa-facebook {
background: black;
color: lightgrey;
}
  
.fa-twitter {
background:black;
color: lightgrey; }
  
.fa-linkedin {
background: black;
color: lightgrey;
}

.fa-instagram {
background: black;
color: lightgrey;
}

.section2{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}
  
.image4{
display: flex;
border-top-left-radius:0 ;
border-bottom-right-radius: 50%;
border-bottom-left-radius:0 ;
border-top-right-radius:0 ;
position: absolute;}
  
.border4{
border:1px solid black;
width:450px;
height:400px;
display: flex;
border-bottom-right-radius: 50%;
position: relative;
margin-top: 8vw;
}

span{
display: flex;
flex-direction: column;
}

   
h2{color:goldenrod;} 

h4{
color: black;}
  
.section3{
display: flex;
text-align: center;
display: block;} 

  
.image5{
width:100%;
display: flex;
border-top-left-radius:0 ;
border-bottom-right-radius: 0%;
border-bottom-left-radius:0 ;
border-top-right-radius:0 ;
height: 300px;
padding-bottom: 100px;}

span h2,h4{
    padding: 0px;
    margin: 5px;
}




